* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
}

.header {
    grid-area: header;
    background: rgb(252, 176, 69);
    background: linear-gradient(180deg, rgba(252, 176, 69, 1) 23%, rgba(251, 0, 0, 1) 81%);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesas {
    padding-left: 1vw;
    height: 20vh;
}

h1 {
    display: none;
}
p {
    font-size: 25px;
    font-family: 'Bebas Neue';
}
h2{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 35px;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black !important;
}
label{
    font-size:18px;
    font-weight: bold
}

.nav {
    grid-area: nav;
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(255 153 0);
}
.nav-barra{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}

.nav-item {
    height: 8vh;
    width:50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    background-color: rgb(255 153 0);
    height: 8vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover{
    background-color: rgb(179, 4, 4);
    font-size: 25px;
}
.nav-link:active{
    background-color: rgb(251, 0 , 0,1)

}
.nav-link-active {
    background-color: rgb(251, 0, 0, 1);
    height: 8vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;

}


.main {
    grid-area: main;
    background: rgb(251, 0, 0);
    display: flex;
    height: 64.9vh;
    flex-direction: column;
    align-items: center;
    padding: 3vh;

}

.antesdespues {
    display: none;
}

.publicidad {
    grid-area: publicidad;
    display: none;
    background-color: green
}

.footer {
    grid-area: footer;
    background-color: rgb(255 153 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.redes {
    height: 3vh;
    width: 5vw;
    transform: rotateY(30deg);
}

.textomain {
    height: 40vh;
}

.headerb {
    background: rgb(252, 176, 69);
    background: linear-gradient(180deg, rgba(252, 176, 69, 1) 23%, rgba(251, 0, 0, 1) 81%);
    height: 20vh;
}

.pesasb {
    height: 20vh;
}

.navb {
    background-color: rgb(255 153 0);
    height: 8vh;
}

.mainb {
    background-color: cyan;
}

.modelo {
    height: 60vh;
    width: 100%;
}

.footerb {
    background-color: rgb(255 153 0);
    height: 100%;
}

.carrusel {
    padding: 0px;
}

.formulario {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background: rgb(251, 0, 0,1);
    padding: 2vh;
}


@media (min-width:576px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .pesas{
        height:20vh;

    }

    h1 {
        display: flex;
        padding-left: 8vh;

    }

    .headerb {
        background-color: blue;
    }

    .modelo {
        height: 80vh;
        width: 100%;
    }

    .antesdespues {
        display: flex;
        border-radius: 50px;
        border: 7px solid black;
        height: 30vh;
        width: 60vw;
    }

    p {
        font-size: 25px;
        font-family: 'Bebas Neue';
    }


}

@media (min-width:992px) {
    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto 1fr 1fr 1fr 1fr auto auto auto;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header"
            "header header header header"
            "nav nav nav nav"
            "main main main publicidad"
            "main main main publicidad"
            "main main main publicidad"
            "main main main publicidad"
            "main main main publicidad"
            "main main main publicidad"
            "footer footer footer footer";
    }
    .antesdespues {
        display: flex;
        border-radius: 50px;
        height: 32vh;
        width: 60vw;
    }

    .modelo {
        height: 64.9vh;
        width: 100%;
    }

    .formulario {
        background: rgb(251, 0, 0,1);
        height: 64.9vh;
        padding: 0vh 5vw 0vh 5vw;
    }

    .publicidad {
        display: flex;
    }

    .bicicleta {
        height: 100%;
        width: 100%;
    }

    .footer {
        height: 7.1vh;
    }
    .footerb{
        height: 7.1vh;
    }
}